/* Header */
#mainHeader{
    background-color: rgba(0, 0, 0, 0);
    text-decoration: none;
}
#signup{
    width:100px;
    height: 75px;
    position: relative;
    right: 1px;
    background-color: rgba(255, 255, 255, 0);
}



#login{
    width:100px;
    height: 75px;
    position: relative;
    left: 2px;
    background-color: rgba(255, 255, 255, 0);
}

a {
    text-decoration: none;
    color: #ffffff;
    font-family: compass;
    font-size: 16px; 
    transition: 0.75s;
    
}

a:hover {
    text-decoration: none;
    color: #ff8900;
    font-family: compass;
    font-size: 16px; 
    
}
.large-header {
  position: relative;
  width: 100%;
  background: #333;
  overflow: hidden;
  background-size: cover;
  background-position: center center;
  z-index: 1;
}
#large-header {
  background-color:#000000;
}
.main-title {
  position: absolute;
  margin: 0;
  padding: 0;
  color: #f9f1e9;
  text-align: center;
  top: 50%;
  left: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
}
.demo-1 .main-title {
  text-transform: uppercase;
  font-size: 4.2em;
  letter-spacing: 0.1em;
}
.main-title .thin {
  font-weight: 200;
}
@media only screen and (max-width: 768px) {
  .demo-1 .main-title {
    font-size: 3em;
  }
}
