body {
    background: url('../images/background.jpg') no-repeat fixed center center;
    background-size: cover;
    font-family: Montserrat;
    transition: background 0.75s;
}

.logo {
    width: 248px;
    height: 89px;
    background: url('../images/logo.png') no-repeat;
    margin: 30px auto;
}

.create-block {
    width: 320px;
    padding: 20px;
    background: #e6e6e6;
    border-radius: 5px;
    border-top: 5px solid #69563f;
    margin: 0 auto;
}

.create-block h1 {
    text-align: center;
    color: #000;
    font-size: 18px;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 20px;
}
.create-block select {
    width: 100%;
    height: 42px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    font-size: 14px;
    font-family: Montserrat;
    padding: 0 20px 0 50px;
    outline: none;
    transition: 0.6s;
}
.create-block input {
    width: 100%;
    height: 42px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    font-size: 14px;
    font-family: Montserrat;
    padding: 0 20px 0 50px;
    outline: none;
    transition: 0.6s;
}

.create-block input#eventname {
    background: #fff url('../images/user.png') 20px top no-repeat;
    background-size: 16px 80px;
}

.create-block input#username:focus {
    background: #fff url('../images/user.png') 20px bottom no-repeat;
    background-size: 16px 80px;
}

.create-block input#password {
    background: #fff url('../images/lock.png') 20px top no-repeat;
    background-size: 16px 80px;
}

.create-block input#password:focus {
    background: #fff url('../images/lock.png') 20px bottom no-repeat;
    background-size: 16px 80px;
}

.create-block input#class {
    background: #fff url('../images/class.png') 20px top no-repeat;
    background-size: 16px 80px;
}

.create-block input#class:focus {
    background: #fff url('../images/class.png') 20px bottom no-repeat;
    background-size: 16px 80px;
}

.create-block input#email {
    background: #fff url('../images/email.png') 20px top no-repeat;
    background-size: 16px 80px;
}

.create-block input#email:focus {
    background: #fff url('../images/email.png') 20px bottom no-repeat;
    background-size: 16px 80px;
}

.create-block select#category {
    background: #fff url('../images/email.png') 20px top no-repeat;
    background-size: 16px 80px;
}

.create-block input#roll {
    background: #fff url('../images/roll.png') 20px top no-repeat;
    background-size: 16px 80px;
}

.create-block input#roll:focus {
    background: #fff url('../images/roll.png') 20px bottom no-repeat;
    background-size: 16px 80px;
}

.create-block input#mobile {
    background: #fff url('../images/mobile.png') 20px top no-repeat;
    background-size: 16px 80px;
}

.create-block input#mobile:focus {
    background: #fff url('../images/mobile.png') 20px bottom no-repeat;
    background-size: 16px 80px;
}


.create-block input:active, .create-block input:focus {
    border: 1px solid #ffba00;
}

.create-block button {
    width: 100%;
    height: 40px;
    background: rgb(250, 157, 7);
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #ffa700;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    font-family: Montserrat;
    outline: none;
    cursor: pointer;
    transition: 0.4s;
}

.create-block button:hover {
    background: #ff6c00;
}

#footernote{
    color:white;
}